@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, skyblue, darkblue);
}

.container {
    width: 450px;
    background-color: orange;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.container input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid darkcyan;
    margin-bottom: 20px;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
}

.btn {
    border: none !important;
    cursor: pointer;
    background-color: cyan;
    margin: 15px 0px;
    font-size: 16px;
    width: 100%;
    padding: 14px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: darkcyan;
    color: white;
}